@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  overflow: hidden;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.D {
  padding-left: 50rem;
}

.T {
  padding-right: 50rem;
}

.name .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: absolute;
  padding-left: 15rem;
}

.name .title h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.name .model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  position: absolute;
  padding-right: 11rem;
}

.name .model h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
